<div class="container">
    <h1 style="text-align: center;">Por que doar?</h1>
    <p style="text-align: justify;">
        Doar sangue é um ato de amor ao próximo. E mais do que isso. Ao fazer esse gesto, o doador pode dar esperança de vida e de saúde para quem mais precisa: pai, mãe, irmão, amigo ou mesmo uma pessoa que você nunca viu. Não importa quem será o beneficiado,
        mas sim, que outras pessoas terão novas oportunidades, novas chances de recomeçar a própria vida. Para isso, melhor do que fazer a doação uma vez, é tornar esse gesto um compromisso, tornando-se um doador frequente. Os estoques dos bancos de sangue
        de todo o País precisam estar constantemente abastecidos para atender tanto quem estiver em situação de emergência (após um acidente, por exemplo), quanto para quem necessita de sangue com frequência (pacientes internados ou em tratamento de longo
        período) e ainda para cirurgias.
    </p>

    <div style="text-align: center;">
        <img src="../assets/img/por-que-doar/1.jpg" alt="Doação de Sangue">
        <h3>1- Uma única doação pode salvar até quatro vidas</h3>
        <p>
            Se você está em boas condições de saúde, doe. Afinal, é uma atitude simples, rápida e segura que pode ajudar até quatro pessoas. Vale lembrar que, quando alguém precisa de uma transfusão de sangue, só pode contar com a solidariedade de outras pessoas.
        </p>
        <img src="../assets/img/por-que-doar/2.jpg" alt="Doação de Sangue">
        <h3>
            2- Não existe substituto para o sangue
        </h3>
        <p>
            A ciência avançou muito e fez inúmeras descobertas. Mas nenhum cientista ainda encontrou outra maneira de atender alguém que precise de sangue, além da doação. Existem alguns produtos sintéticos que podem até retardar uma transfusão, mas esse é um método
            paliativo e temporário, que não substitui o sangue humano.
        </p>
        <img src="../assets/img/por-que-doar/3.jpg" alt="Doação de Sangue">
        <h3>
            3- Não há risco de contrair doenças durante a doação
        </h3>
        <p>
            Além de todo material utilizado durante a coleta ser esterilizado e descartável, todos os candidatos a doação são submetidos a uma entrevista clínica, onde serão avaliados os critérios de doação, conforme legislação vigente do Ministério da Saúde/Agência
            Nacional de Vigilância Sanitária (Anvisa). Sendo assim, não há nenhum risco de contrair qualquer doença durante a doação.
        </p>
        <img src="../assets/img/por-que-doar/4.jpg" alt="Doação de Sangue">
        <h3>
            4- Seu organismo repõe rapidamente o sangue doado
        </h3>
        <p>
            Um adulto, seja do sexo masculino ou feminino, possui em média cinco litros de sangue em seu corpo. E em uma doação são coletados no máximo 450 mililitros. Ou seja, menos de 10% de todo o sangue do seu organismo. Esse volume é reposto em 24 horas pelo
            organismo.

        </p>
        <img src="../assets/img/por-que-doar/5.jpg" alt="Doação de Sangue">
        <h3>
            5- O doador tem direito a um dia de folga no trabalho
        </h3>
        <p>
            Voluntários que doarem sangue têm direito a um dia de folga a cada 12 meses trabalhados, desde que a doação esteja devidamente comprovada, de acordo com os termos previstos na Consolidação das Leis do Trabalho (CLT).
        </p>
    </div>
</div>