<div style="text-align: center;">
    <h1>Locais de Doação :)</h1>
</div>
<h3 style="text-align: center; padding: 15px;">Você pode buscar diretamente pelo nome do paciente ou pode doar no hemocentro mais próximo!</h3>

<div class="container">
    <div style="text-align: center; padding-left: 5%; padding-right: 5%;">
        <form style="padding-top: 1%;">
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="nome">Nome do Paciente:</label>
                        <input type="text" class="form-control" placeholder="Nome do Paciente" id="nome" name="nome" [(ngModel)]="form.nome">
                    </div>
                </div>
            </div>
                <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cep">CEP:</label>
                        <input type="text" class="form-control" placeholder="Digite seu CEP" id="cep" name="cep" [(ngModel)]="form.cep">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="tipoSanguineo">Seu tipo sanguíneo:</label>
                        <select class="form-control" id="tipoSanguineo" name="tipoSanguineo" [(ngModel)]="form.tiposanguineo">
                            <option></option>
                            <option>A</option>
                            <option>B</option>
                            <option>AB</option>
                            <option>O</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div>
                        <button type="button" class="btn btn-secondary" name="pesquisar" id="pesquisar" (click)="pesquisar()">Buscar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="alert alert-info">
        <strong>Você esta em:</strong> {{endereco}} / Tipo sanguíneo escolhido: {{form.tiposanguineo}}
    </div>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Nome do Paciente</th>
                <th>Hemocentro ou Hospital</th>
                <th>Endereço</th>
                <th>CEP</th>
                <th>Distância</th>
                <th>Banco de sangue</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of getHemocentros()">
                <td>{{item.nome}}</td>
                <td>{{item.hemocentro}}</td>
                <td>{{item.endereco}}</td>
                <td>{{item.cep}}</td>
                <td>{{item.distancia}}</td>
                <td>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="setBancoDeSangue(item)">Detalhes</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div style="text-align: center; padding-top: 1%; padding-bottom: 3%;">
        <h2>Níveis do banco de Sangue do Hemocentro {{hemocentro}}</h2>
    </div>
    <div class="card-deck" style="padding-bottom: 1%;">
        <div class="card bg-danger">
            <div class="card-body text-center">
                <h3 class="card-text">Tipo A</h3>
                <h2 class="card-text">{{tipoa}}</h2>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body text-center">
                <h3 class="card-text">Tipo B</h3>
                <h2 class="card-text">{{tipob}}</h2>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body text-center">
                <h3 class="card-text">Tipo AB</h3>
                <h2 class="card-text">{{tipoab}}</h2>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body text-center">
                <h3 class="card-text">Tipo O</h3>
                <h2 class="card-text">{{tipoo}}</h2>
            </div>
        </div>
    </div>
</div>